.landing {

	.hero {
		width: 100%;
		height: 600px;
		background: black;

		>div {
			max-width: 2000px;
			height: 100%;
			margin: auto;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
		}
	}

	.tiles {
		margin-top: 30px;

		.col-md-4 {
			margin-bottom: 30px;
		}
	}
}