.email-modal {

	.thanks, .selected-item {
		float: left;
		width: 100%;
		margin-top: 15px;
	}

	.selected-item {
		img {
			float: left;
			width: 300px;
			border-radius: 5px;
		}

		.form {
			float: right;
			width: calc(100% - 315px);

			div {
				float: left;
				width: 100%;
				margin-top: 10px;

				&:first-child {
					margin-top: 0;
				}
			}
		}
	}
}